.card-img-top {
  height: 150px;
  max-width: 15rem;
  max-height: 15rem;
}

.pin-card {
  width: 19rem; 
  min-height: 450px;
}

// .dino-card-photo {
//   max-width: 15rem;
//   max-height: 15rem;
// }
